* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 10px auto;
}

body {
    text-align: center;
}

button {
    width: 60px;
    height: 40px;
}

#display {
    background-color: #F2F2F2;
    margin: 10px auto;
    width: 160px;
    height: 40px;
    padding: 10px 20px;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 2px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 200px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.backspace {
    width: 125px;
}
